body{
  line-height: 1.42857143;
  overflow-x: hidden;
}
.VPHome {
    // 自定义首页背景图
    &::before {
      // 图片来源：https://zhuanlan.zhihu.com/p/54060187
      display: none;
    }
    // 定义遮罩样式
    // background: radial-gradient(
    //   ellipse,
    //   rgba(var(--bg-gradient-home), 1) 0%,
    //   rgba(var(--bg-gradient-home), 0) 500%
    // );
    background: transparent;
    padding-bottom: 89px!important;
  }
  .VPNavBar:not(.top) .content-body[data-v-cf6e7c5e]{
    background-color: rgba(var(--vp-c-bg),0.8);
    backdrop-filter: saturate(50%) blur(15px);
  }
  // .divider-line{
  //   height: 10px!important;
  //   background: linear-gradient(var(--vp-c-bg),transparent 95%)!important;
  // }
 
  .container-main{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
  }
  .el-icon{
    color: var(--vp-c-user-1)!important;
  }

  font,strong,em, h1, h2{
    color: var(--vp-c-user-1)!important;
  }

  // .VPDoc{
  //   background-color: var(--vp-c-bg);
  // }
  .vp-doc p{
    line-height: 1.42857143!important;
    margin: 8px 0!important;
  }
  .vp-doc li + li{
    line-height: 1.52857143;
  }

  .VPPluginSearch-flex-logo{
    display: none;
  }

  .DocSearch-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: transparent;
    transition: border-color 0.25s;
  }
  @media (min-width: 768px) {
    .DocSearch-Button {
      justify-content: flex-start;
      border: 1px solid transparent;
      border-radius: 8px;
      padding: 0 10px 0 12px;
      width: 100%;
      height: 40px;
      background-color: var(--vp-c-bg-alt);
    }
  }
  @media (max-width: 768px) {
    .DocSearch-Button-Keys {
      display: none;
    }
    .VPNavBarHamburger {
      height: 32px !important;
      width: 32px !important;
      border-radius: 4px;
    }
  }
  .DocSearch-Button:hover {
    background-color: var(--vp-local-search-bg);
  }
