body{
  line-height: 1.42857143;
  overflow-x: hidden;
}
.VPHome {
    // 自定义首页背景图
    &::before {
      // 图片来源：https://zhuanlan.zhihu.com/p/54060187
      display: none;
    }
    // 定义遮罩样式
    // background: radial-gradient(
    //   ellipse,
    //   rgba(var(--bg-gradient-home), 1) 0%,
    //   rgba(var(--bg-gradient-home), 0) 500%
    // );
    background: transparent;
    padding-bottom: 89px!important;
  }
  .VPNavBar:not(.top) .content-body[data-v-cf6e7c5e]{
    background-color: var(--vp-bg);
    backdrop-filter: saturate(50%) blur(10px);
  }
  
  .content{
    background-color: var(--vp-c-bg);
  }
  
  #particles canvas{
    background-color: transparent!important;
    opacity: 0.4;
  }
 
  .container-main{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
  }
  .el-icon{
    color: var(--vp-c-user-1)!important;
  }

  font,strong,em, h1, h2{
    color: var(--vp-c-user-1)!important;
  }